**

!Dockerfile
!.dockerignore
!COPYING
!README.md
!AUTHORS.md
!THANKS.md

!backend/
backend/*
!backend/d-update.php

!css/
!css/**

!docker/
docker/**
!docker/web/
!docker/web/**

!frontend/
!frontend/**
frontend/lib/config.php
frontend/lib/d-sigs.php
frontend/lib/facebook.php
frontend/trs/**

!gen/
!gen/**

!js/
!js/**

!po/
!po/**
po/*-js.po
po/*-php.po
po/*.mo

!site-content/
!site-content/**

!xslt/
!xslt/**
