a:link { color: yellow; }
a:visited { color: yellow; }
a:active { color: yellow; }

body {
  background-color: black;
  color: white;
  text-align: center;
}
ul, p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.smaller {
  font-size: smaller;
}
.warning {
  color: red;
  font-weight: bold;
}

#box {
  position: relative;
  width: 80%;
  max-width: 600px;
  top: 50px;
  border: 2px solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#box a {
  color: #eae3d7;
  font-size: smaller;
}
#box table {
  margin-left: auto;
  margin-right: auto;
}

#add_openid {
  background: url(images/openid.png) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}
.img-16-delete {background: transparent url(images/master-icons.png?v=0) no-repeat -64px 0px;}
