body {
  background-color: black;
  color: white;
  text-align: center;
}
ul, p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.smaller {
  font-size: 90%;
}

.link {
  color: #eae3d7;
  font-size: 90%;
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.deadlink {
  color: #eae3d7;
  font-size: 90%;
  text-decoration: line-through;
}

#main {
  position: relative;
  font-family: sans-serif;
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  background: black url(images/login.jpg) no-repeat top left;
  width: 640px;
  height: 427px;
  top: 50px;
  text-align: center;
}

#main a {
  color: #eae3d7;
  font-size: 90%;
}

#signIn {
  position: absolute;
  padding: 3px;
  right: 5px;
  top: 5px;
  width: 300px;
  min-width: 250px;
  min-height: 100px;
  max-width: 600px;
  max-height: 400px;
  background-color: black;
  opacity: 0.85;
  filter: alpha(opacity=85);
  display: none;
}

#signIn table {
  margin-left: auto;
  margin-right: auto;
}

input.openid_identifier {
  background: url(images/openid.png) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

#registration {
  position: absolute;
  padding: 3px;
  right: 5px;
  top: 5px;
  width: 300px;
  min-width: 250px;
  min-height: 100px;
  max-width: 600px;
  max-height: 400px;
  background-color: black;
  opacity: 0.85;
  filter: alpha(opacity=85);
  display: none;
}

#registration table {
  margin-left: auto;
  margin-right: auto;
}

#passwordRecovery {
  position: absolute;
  padding: 3px;
  right: 5px;
  top: 5px;
  width: 300px;
  min-width: 250px;
  min-height: 100px;
  max-width: 600px;
  max-height: 400px;
  background-color: black;
  opacity: 0.85;
  filter: alpha(opacity=85);
  display: none;
}

#passwordRecovery table {
  margin-left: auto;
  margin-right: auto;
}

#about {
  position: absolute;
  padding: 7px;
  right: 5px;
  top: 5px;
  width: 300px;
  height: 255px;
  max-width: 600px;
  max-height: 400px;
  text-align: left;
  background-color: black;
  opacity: 0.85;
  filter: alpha(opacity=85);
  display: none;
  overflow: auto;
}
#about p {
  text-align: justify;
}

#message {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: red;
  background-color: black;
  top: 200px;
  padding: 3px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

#banner {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding-left: 1px;
}

#banner a {
  color: white;
  text-decoration: none;
}
