body {
  background-color: black;
  color: white;
  text-align: center;
}

.smaller {
  font-size: smaller;
}

.warning {
  color: red;
  font-weight: bold;
}

#box {
  position: relative;
  width: 80%;
  max-width: 600px;
  top: 50px;
  border: 2px solid red;
  margin-left: auto;
  margin-right: auto;
}

#box a {
  color: #eae3d7;
  font-size: smaller;
}

#box table {
  margin-left: auto;
  margin-right: auto;
}
