
/* sticky */

body {
  margin-top: 0;
  padding: 0;
  padding-top: 46px;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 0;
  padding-top: 5px;
}

#sWindow {
  position: fixed;
}

#topRightInfo {
  position: fixed;
  z-index: 5;
}

#filterNotifier {
  position: fixed;
}

.bWindow {
  margin-top: 0;
}

.fWindow {
  position: fixed;
}

.dWindow {
  position: fixed;
}

.neWindow {
  position: fixed;
}

.tWindow {
  position: fixed;
}

#eWindow {
  position: fixed;
}

#cWindow {
  position: fixed;
}

#aWindow {
  position: fixed;
}

#iWindow {
  position: fixed;
}

#filterDialog {
  position: fixed;
}

#menu {
  position: fixed;
}

.contextMenu {
  position: fixed;
}

.hints {
  position: fixed;
}
